<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         *,
    *:before,
    *:after{
        font-family: 'Poppins',sans-serif;
    }
    body{
        background-color: #b8cbd3;
    }
    h2{
        color: black;
    }
    </style>
</head>
<body>
    <h2>
        School Name: ************************* <br>
        Address: ***************************<br>
        Pin code: ****<br>
        Conatct: **********
    </h2>
</body>
</html>